@model LoginViewModel

@{ 
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <h5 class="card-title">Login</h5>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="RememberMe" class="form-label">
                    <input asp-for="RememberMe" />
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>                
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
